name: PR Checks

on:
  pull_request:
    branches: [ dev ]

jobs:
  checks:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install deps
        run: npm ci
      # ✅ Lint đúng file
      - name: Lint only (testcicd.js)
        run: npx eslint src/testcicd.js

      # ✅ Typecheck đúng file
      - name: Typecheck only (testcicd.js)
        run: npx tsc src/testcicd.js

      # ✅ Test liên quan đúng file
      # - name: Test only (testcicd.js)
      #   run: npx jest --findRelatedTests src/testcicd.js
